{% extends 'RtsAppMonBundle::layout.html.twig' %}

{% block content %}
<article class="module width_full">
    <header><h3>{% trans %}Categories {% endtrans %}</h3></header>


    <table class="tablesorter" cellspacing="0">
        <thead>
        <tr>
            <th width="10%">{% trans %}#{% endtrans %}</th>
            <th width="70%">{% trans %}Name{% endtrans %}</th>
            <th colspan="{% if is_granted('ROLE_ADMIN') %}3{% else %}1{% endif %}">&nbsp;</th>
        </tr>
        </thead>
        <tbody>

        {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            {% if is_granted('ROLE_ADMIN') %}
            <td>
                {% if category.apps|length == 0 %}
                <a onclick="if (!confirm('{% trans%} Are you sure you want to delete this category? {% endtrans %}')) { return false;}"
                   href="{{path('rts_appmon_category_delete', {'id': category.id}) }}">
                <img src="{{ asset('bundles/rtsappmon/images/delete.png')}}"
                     title="{% trans %}delete{% endtrans %}"/>
            </a>
                {% endif %}
            </td>
            <td>
                <a href="{{path('rts_appmon_category_edit', {'id': category.id}) }}">
                    <img src="{{ asset('bundles/rtsappmon/images/application_form_edit.png')}}"
                         title="{% trans %}edit{% endtrans %}"/>
                </a>
            </td>
            {% endif %}
            <td>
                {% if category.apps|length > 0 %}
                <a href="{{path('rts_appmon_default_listbycategory', {'id': category.id}) }}">
                    <img src="{{ asset('bundles/rtsappmon/images/application_view_icons.png')}}"
                         title="{% trans %}application list{% endtrans %}"/>
                </a>
                {% endif%}
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</article>
<!-- end of stats article -->

{% endblock%}