{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/rtsappmon/css/custom-theme/jquery-ui-1.8.20.custom.css') }}" type="text/css" media="screen"/>
<link rel="stylesheet" href="{{ asset('bundles/rtsappmon/css/layout.css') }}" type="text/css" media="screen"/>
<!--[if lt IE 9]>
<link rel="stylesheet" href="{{ asset('bundles/rtsappmon/css/ie.css') }}" type="text/css" media="screen"/>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% endblock%}

{% block javascripts %}
<script  type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
{#<script src="{{ asset('bundles/rtsappmon/js/jquery-1.5.2.min.js')}}" type="text/javascript"></script>#}
<script src="{{ asset('bundles/rtsappmon/js/hideshow.js')}}" type="text/javascript"></script>
<script src="{{ asset('bundles/rtsappmon/js/jquery.tablesorter.min.js')}}" type="text/javascript"></script>
<script type="text/javascript" src="{{ asset('bundles/rtsappmon/js/jquery.equalHeight.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function () {
                $(".tablesorter").tablesorter();
            }
    );
    $(document).ready(function () {

        //When page loads...
        $(".tab_content").hide(); //Hide all content
        $("ul.tabs li:first").addClass("active").show(); //Activate first tab
        $(".tab_content:first").show(); //Show first tab content

        //On Click Event
        $("ul.tabs li").click(function () {

            $("ul.tabs li").removeClass("active"); //Remove any "active" class
            $(this).addClass("active"); //Add "active" class to selected tab
            $(".tab_content").hide(); //Hide all tab content

            var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
            $(activeTab).fadeIn(); //Fade in the active ID content
            return false;
        });

    });
</script>
<script type="text/javascript">
    $(function () {
        $('.column').equalHeight();
    });
</script>
{% endblock%}

{% block body %}
{{ parent()}}

<header id="header">
    <hgroup>
        <h1 class="site_title">
            {% block site_title %}
            <a href="{{path('rts_appmon_default_help')}}">App Monitor</a>
            {% endblock%}
        </h1>
        <h2 class="section_title">
            {% block section_title %}
            {% endblock%}
        </h2>
    </hgroup>
</header> <!-- end of header bar -->

<section id="secondary_bar">
{% block secondary_bar %}
{% endblock %}
</section><!-- end of secondary bar -->
{% block sidebar %}
<aside id="sidebar" class="column">
    {%  if app.user  %}
    <p>
        <strong>{% trans %}Username{% endtrans %}:</strong> {{ app.user.username }}<br />
        <strong>{% trans %}Email{% endtrans %}:</strong> {{ app.user.email }}<br />
    </p>
    <hr/>
    <form class="quick_search" action="{{path('rts_appmon_default_search')}}" method="get">
        <input type="text" name="search" value="{{app.request.get('search','Quick Search')}}"  onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
    </form>
    <hr/>
    {% endif %}
    {%  include 'RtsAppMonBundle::menu.html.twig' %}
    <footer>
        <hr/>
        <p><strong>Copyright &copy; 2012 Robin Breuker (niborb) / Joost Nijhuis </strong></p>
        <p><strong><a href="http://niborb.github.com/appmon">GitHub</a></strong></p>
        <p><small>Theme by <a href="http://www.medialoot.com">MediaLoot</a></small></p>
    </footer>
</aside>
<!-- end of sidebar -->
{% endblock %}

<section id="main" class="column">
    {% if app.session.hasFlash('info') %}
    <h4 class="alert_info">{{ app.session.flash('info') }}</h4>
    {% else %}
    <h4 class="alert_info" style="display: none;"></h4>
    {% endif %}

    {% if app.session.hasFlash('warning') %}
    <h4 class="alert_warning">{{ app.session.flash('warning') }}</h4>
    {% else %}
    <h4 class="alert_warning" style="display: none;"></h4>
    {% endif %}

    {% if app.session.hasFlash('error') %}
    <h4 class="alert_error">{{ app.session.flash('error') }}</h4>
    {% else %}
    <h4 class="alert_warning" style="display: none;"></h4>
    {% endif %}

    {% if app.session.hasFlash('success') %}
    <h4 class="alert_success">{{ app.session.flash('success') }}</h4>
    {% else %}
    <h4 class="alert_success" style="display: none;"></h4>
    {% endif %}

    {% block content %} {% endblock %}
    <div class="spacer"></div>
</section>

{% endblock %}

